<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.onerss"
        versionCode="10" 
        version   = "2.0.0">


    <name>ZnakZorro-OneRSS</name>

    <description>
        OneRss powered by PhoneGap 
    </description>

    <author href="http://zszczech.zut.edu.pl/git" email="zs@g.pl">
        ZnakZorro
    </author>
    <preference name="phonegap-version" value="2.2.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="true" />
	
<icon src="pliki/znakzorro.png" />
<icon src="pliki/znakzorro.png" gap:platform="android" gap:density="ldpi" />
<icon src="pliki/znakzorro.png" gap:platform="android" gap:density="mdpi" />
<icon src="pliki/znakzorro.png" gap:platform="android" gap:density="hdpi" />
<icon src="pliki/znakzorro.png" gap:platform="android" gap:density="xhdpi" />
    <gap:splash src="pliki/onerss.jpg"  gap:platform="android" gap:density="ldpi" />
    <gap:splash src="pliki/onerss.jpg"  gap:platform="android" gap:density="mdpi" />
    <gap:splash src="pliki/onerss.jpg"  gap:platform="android" gap:density="hdpi" />
    <gap:splash src="pliki/onerss.jpg" gap:platform="android" gap:density="xhdpi" />




<access origin="*" onlyInBrowser="true" />
<preference name="stay-in-webview" value="false" />


</widget>
