<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.telegap"
        versionCode="10" 
        version   = "1.1.0">


    <name>ZnakZorro-TeleGap</name>

    <description>
        Przykad testowy TeleGapa 
    </description>

    <author href="http://zszczech.zut.edu.pl/git" email="zs@g.pl">
        ZnakZorro
    </author>

<icon src="pliki/znakzorro.png" />
<icon src="pliki/znakzorro.png" gap:platform="android" gap:density="ldpi" />
<icon src="pliki/znakzorro.png" gap:platform="android" gap:density="mdpi" />
<icon src="pliki/znakzorro.png" gap:platform="android" gap:density="hdpi" />
<icon src="pliki/znakzorro.png" gap:platform="android" gap:density="xhdpi" />

</widget>
